Screen {
    layout: vertical;
}

DataTable {
}

#main-container {
    width: 100%;
    height: 100%;
}

#add-container {
    width: 90%;
    margin: 1;
    padding: 1;
    border: solid $accent;
}

.title {
    text-style: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 1;
}

Horizontal {
    width: 100%;
    height: auto;
    align: center middle;
    margin-bottom: 1;
}

Horizontal > Label {
    width: 20%;
    text-align: right;
    padding-right: 1;
}

Horizontal > Input {
    width: 80%;
}

#selected-file {
    width: 100%;
    height: 1;
    text-style: italic;
    margin-top: 1;
}

/* Aggiungi queste regole */
#form-container {
    width: 100%;
    height: 1fr;  /* Occupa tutto lo spazio disponibile */
    scrollbar-color: $accent;
}

#form-content {
    width: 100%;
    height: auto;
    min-height: 100%;
}

#form-content > Label {
    margin-top: 1;
}

#form-content > Label:focus {
    background: $accent;
    color: $text;
}

DirectoryTree {
    width: 100%;
    height: 20;
    max-height: 20;  /* Altezza fissa per l'albero */
    border: solid $panel;
}

TextArea {
    width: 100%;
    height: 10;
    max-height: 10;  /* Altezza fissa per la textarea */
    margin-bottom: 1;
}

/************************************* edit.py ****************************************/
#edit-container {
    padding: 1;
    margin: 2;
    width: auto;
}

.form-row {
    height: 3;
    margin: 1 0;
    align: center middle;
}

.form-label {
    width: 20%;
    color: $accent;
    text-style: bold;
}

.form-input {
    width: 75%;
    background: $panel;
    border: tall $background;
}

.form-checkbox {
    width: 10%;
    margin-right: 1;
}

#buttons-container {
    height: auto;
    margin-top: 2;
    align: center middle;
}

#title-label {
    text-align: center;
    width: 100%;
    color: $success;
    text-style: bold underline;
    margin-bottom: 1;
}
